<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884079313359-6r3pjs3iaqhe0pa6s65fq13eot8magt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884079313359-6r3pjs3iaqhe0pa6s65fq13eot8magt2</string>
	<key>API_KEY</key>
	<string>AIzaSyAxwmhLRjuGmSyYLvl2LAN2wCs59ZlHA4k</string>
	<key>GCM_SENDER_ID</key>
	<string>884079313359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.richiezhu26</string>
	<key>PROJECT_ID</key>
	<string>recreating-wechat</string>
	<key>STORAGE_BUCKET</key>
	<string>recreating-wechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:884079313359:ios:7e35656512a1ba5d</string>
	<key>DATABASE_URL</key>
	<string>https://recreating-wechat.firebaseio.com</string>
</dict>
</plist>
